.editor {

    position: relative;
    height: auto;
    margin: auto;
}

.textfield{
    color: black !important;
}

.uploader {

    position: relative;
    height: auto;
    margin: auto;
    flex-wrap: wrap;
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.title {
    position: relative;
    width: auto;
    text-align: center;
}
.logoutButton{
    position: absolute;
    top: 80px;
    right: 3px;
    text-decoration: none;
    text-align: left;
}
