.editor {
    background-color: bisque !important;
    position: relative;
    flex-grow: 3;
    top: 40px;
    height: auto;
    width: 80%;
    margin: auto;
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.far{
    color: white;
}


.title {
    position: relative;
    width: auto;
    text-align: center;
}
.logoutButton{
    position: absolute;
    right: 3px;
    text-decoration: none;
    text-align: left;
}
.submit{
    position: absolute;
    left: 3px;
    text-decoration: none;
    text-align: left;
}
