.editor {
    position: relative;
    height: auto;
    margin: auto;
}

.uploader {
    position: relative;
    height: auto;
    margin: auto;
    flex-wrap: wrap;
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.far{
    color: white;
}


.title {
    position: relative;
    width: auto;
    text-align: center;
}
.logoutButton{
    position: absolute;
    top: 80px;
    right: 3px;
    text-decoration: none;
    text-align: left;
}
.submit{
    position: absolute;
    left: 3px;
    text-decoration: none;
    text-align: left;
}
