.menu-item{
  color: bisque;
  font-family: "Prompt", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.bar{
  position: fixed !important;
  z-index: 3 !important;
}


/* Wrapper for item list */
.bm-item-list {
  top: 10px;
  color: darkcyan;
  padding: 0.8em;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  text-align: left;
}
.bm-item-list:hover{
  color: goldenrod;
}

.html5-video-player.video-stream {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
  position: fixed !important;
  top: 0 !important;
  z-index: -2 !important;
}

.background-video{
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
  position: fixed !important;
  top: 0 !important;
  z-index: -2 !important;
}

.layer{
  z-index: -1;
  background-color: darkblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.65;    
}
